{% extends "base.html" %} {% block title %}Add Notes: Hamro नोटप्याड{% endblock
%} {% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Welcome to Hamro नोटप्याड</h1>
  
  <div class="card shadow-lg" style="background-color: #065143">
    <div class="card-body">
      <h5 class="card-title text-content" >Create a New Note</h5>
      <form method="POST">
        <div class="mb-3">
          <label for="noteTitle" class="form-label text-content">Note Title</label>
          <input
            type="text"
            class="form-control"
            id="noteTitle"
            name="noteTitle"
            placeholder="Enter your note title"
          />
        </div>
        <div class="mb-3">
          <label for="noteContent" class="form-label text-content">Note Content</label>
          <textarea
            class="form-control"
            id="noteContent"
            name="noteContent"
            rows="5"
            placeholder="Write your note here..."
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-secondary"
        >
          Save Note
        </button>
        <button
          type="submit"
          class="btn btn-secondary"
        >
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
