{% extends 'base.html' %} 
{% block title %} 
Edit Note: Hamro नोटप्याड 
{% endblock %} 
{% block content %}
<div class="container mt-5">
  <h1 class="mb-4 mt-4">Edit Note</h1>

  <div class="card border-primary shadow-lg" style="background-color: #065143; border: 2px solid white;">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="noteTitle" class="form-label" style="color: white;">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter your title"
            value="{{ note.title }}"
          />
        </div>
        <div class="mb-3">
          <label for="noteContent" class="form-label" style="color: white;">Content</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            rows="5"
            placeholder="Write your note"
          >{{ note.content }}</textarea>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          onclick="editNote({{ note.id }})"
        >
          Save 
        </button>
        <a
          class="btn btn-secondary"
          href="{{ url_for('views.view_notes') }}"
        >
          Cancel
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
