{% extends "base.html" %} {% block title %}Login: Hamro नोटप्याड{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Login</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <form method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="you@example.com"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="********"
                required
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="rememberMe"
                name="rememberMe"
              />
              <label class="form-check-label" for="rememberMe"
                >Remember me</label
              >
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            <div class="text-center mt-3">
              <a href="/forgot-password">Forgot your password?</a>
            </div>
            <div class="text-center mt-3">
              <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
