{% extends "base.html" %} {% block title %}View Notes: Hamro नोटप्याड{% endblock %} {% block
content %}
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search notes..."
        aria-label="Search notes"
      />
      <button
        class="btn"
        style="background-color: #129490; color: white"
        type="button"
      >
        Search
      </button>
    </div>
    <button
      class="btn d-flex align-items-center"
      style="background-color: #065143; color: white; margin-left: 10px"
      type="button"
    >
      <i class="bi bi-filter me-2"></i> Filter
    </button>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center pb-2"
    >
      <span>Note Title 1</span>
      <div>
        <button class="btn btn-outline-success btn-sm me-2">View</button>
        <button class="btn btn-outline-danger btn-sm">Delete</button>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
