{% extends "base.html" %}

{% block title %}
View Notes: Hamro नोटप्याड
{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <form
      action="{{ url_for('views.search_note') }}"
      method="get"
      class="input-group"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Search notes..."
        aria-label="Search notes"
        value="{{ search_term }}"
        name="search_term"
      />
      <button
        class="btn"
        style="background-color: #129490; color: white"
        type="submit"
      >
        Search
      </button>
    </form>
    <button
      class="btn d-flex align-items-center"
      style="background-color: #065143; color: white; margin-left: 10px"
      type="button"
    >
      <i class="bi bi-filter me-2"></i> Filter
    </button>
  </div>

  <ul class="list-group">
    {% for note in notes %}
    <li
      class="list-group-item d-flex flex-column border shadow-sm position-relative mb-2"
    >
      <div class="position-absolute top-0 end-0 mt-2 me-2">
        <button
          class="btn btn-outline-success btn-sm me-2"
          aria-label="View Note"
        >
          View
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          aria-label="Delete Note"
          onclick="deleteNote({{ note.id }})"
        >
          Delete
        </button>
      </div>
      <div class="note-content mt-3">
        <p class="mb-0 fs-5">{{ note.title }}</p>
        <p
          class="note-date text-secondary fs-6 fw-light mb-0"
          data-date="{{ note.date }}"
        >
          {{ note.date }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
